numpy==2.3.3
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.16.2
joblib==1.5.2
ipykernel==6.30.1
streamlit==1.38.0
matplotlib==3.9.0
seaborn==0.13.2

# FastAPI y dependencias para el backend
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart==0.0.6
requests==2.31.0